<div class="background"></div>
<div (click)="minimize_window()" class="underscore_icon">
  <i>_</i>
</div>
<div (click)="close_window()" class="close_icons">
  <i class="fa fa-times"></i>
</div>
<div class="main_image_section"></div>
<div class="bottom_menu">
  <div class="install_btn">
    {{ btn_status }}
  </div>
  <div class="game_install_status">
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 30%;"
      ></div>
    </div>
    <div class="social_media">
      <div class="Website_social_medias"><i class="fa fa-home"></i>Website</div>
      <div class="Youtube_social_medias">
        <i class="fa fa-youtube"></i>Youtube
      </div>
      <div class="Facebook_social_medias">
        <i class="fa fa-facebook-square"></i>Facebook
      </div>
    </div>
  </div>
</div>
