<div class="background"></div>
<div (click)="minimize_window()" class="underscore_icon">
  <i>_</i>
</div>
<div (click)="close_window()" class="close_icons">
  <i class="fa fa-times"></i>
</div>
<div class="bottom_menu">
  <div (click)="change_btn_status()" class="install_btn">
    {{ btn_status }}
  </div>
  <div class="game_install_status">
    <div class="status_container">
      {{ game_status }}
    </div>
    <div class="social_media">
      <div
        (click)="launch_social_media('website')"
        class="Website_social_medias"
      >
        <i class="fa fa-home"></i>Website
      </div>
      <div
        (click)="launch_social_media('youtube')"
        class="Youtube_social_medias"
      >
        <i class="fa fa-youtube"></i>Youtube
      </div>
      <div
        (click)="launch_social_media('facebook')"
        class="Facebook_social_medias"
      >
        <i class="fa fa-facebook-square"></i>Facebook
      </div>
    </div>
  </div>
</div>
