.background {
  height: 100%;
  width: 100%;
  background: url(../assets/background.jpg) no-repeat center fixed;
  background-size: cover;
  overflow: hidden;
}
.close_icons {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  &:hover {
    color: grey;
    cursor: pointer;
  }
}
.underscore_icon {
  position: absolute;
  right: 40px;
  top: 10px;
  color: white;
  &:hover {
    color: grey;
    cursor: pointer;
  }
}
.bottom_menu {
  height: 130px;
  position: absolute;
  bottom: 40px;
  left: 30px;
  display: flex;
  font-family: "Fira Code", monospace;
  right: 30px;
  .install_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    height: 100%;
    font-size: 40px;
    font-weight: bold;
    background-color: #f2a900;
    &:hover {
      cursor: pointer;
      background-color: #b47f04;
    }
  }
  .game_install_status {
    border: 1.5px solid grey;
    margin-left: 10px;
    display: flex;
    flex: 7;
    height: 100%;
    .status_container {
      width: 75%;
      display: flex;
      align-items: center;
      font-size: 20px;
      justify-content: center;
      color: white;
    }
    .social_media {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 25%;
      font-size: 18px;
      font-weight: bold;
      border-left: 1.5px solid grey;
      .Youtube_social_medias {
        height: 33.33%;
        display: flex;
        border-bottom: 1.5px solid grey;
        justify-content: center;
        color: grey;
        align-items: center;
        .fa {
          margin-right: 10px;
        }
        &:hover {
          cursor: pointer;
          color: white;
        }
      }
      .Facebook_social_medias {
        height: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
        .fa {
          margin-right: 10px;
        }
        &:hover {
          cursor: pointer;
          color: white;
        }
      }
      .Website_social_medias {
        height: 33.33%;
        border-bottom: 1.5px solid grey;
        display: flex;
        justify-content: center;
        align-items: center;
        .fa {
          margin-right: 10px;
        }
        &:hover {
          cursor: pointer;
          color: white;
        }
      }
    }
  }
}
