.background {
  height: 100%;
  width: 100%;
  background: url(../assets/background.jpg) no-repeat center fixed;
  // filter: blur(5px);
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
.close_icons {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  &:hover {
    color: grey;
    cursor: pointer;
  }
}
.underscore_icon {
  position: absolute;
  right: 40px;
  top: 10px;
  color: white;
  &:hover {
    color: grey;
    cursor: pointer;
  }
}
